<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "systems/sentius/templates/activity/parts/activity-identity.hbs" }}
    <fieldset>
        <legend>{{ localize "SENTIUS.ACTIVITY.SECTIONS.Behavior" }}</legend>
        {{ formField fields.spell.fields.spellbook value=source.spell.spellbook input=inputs.createCheckboxInput }}
    </fieldset>
</section>
