<section class="flexcol">
    <div class="final-value">{{ sentius-numberFormat data.value }}</div>
    <fieldset class="card">
        <legend>{{ localize "SENTIUS.ArmorClassFormula" }}</legend>
        {{ formField fields.calc value=source.calc options=calculationOptions localize=true }}
        {{ formField fields.formula value=formula.value disabled=formula.disabled localize=true }}
        {{#if dexterity}}
        <div class="form-group">
            <label>{{ localize CONFIG.abilities.dex.label }}</label>
            <div class="form-fields">
                {{{ sentius-numberParts dexterity signDisplay="always" }}}
            </div>
        </div>
        {{/if}}
        {{#if formula.showFlat}}
        {{ formField fields.flat value=source.flat localize=true }}
        {{/if}}
    </fieldset>
    {{#if calculations.length}}
    <fieldset class="card equipped">
        <legend>{{ localize "SENTIUS.ArmorClassCalculation" }}</legend>
        <div class="header">
            <div class="armor-value">
                <i class="fa-solid fa-shield" data-tooltip="SENTIUS.ArmorValue"
                   aria-label="{{ localize 'SENTIUS.ArmorValue' }}"></i>
            </div>
            <div class="magical-bonus">
                <i class="fa-solid fa-wand-sparkles" data-tooltip="SENTIUS.EquipmentBonus"
                   aria-label="{{ localize 'SENTIUS.EquipmentBonus' }}"></i>
            </div>
        </div>
        {{#each calculations}}
        <div class="form-group">
            <div class="name">
                <img src="{{ img }}" class="gold-icon" alt="{{ name }}">
                {{{ anchor }}}
            </div>
            <span class="armor-value {{#if (eq value "—")}}empty{{/if}}">{{ value }}</span>
            <span class="magical-bonus {{#if (eq magicalBonus "—")}}empty{{/if}}">{{ magicalBonus }}</span>
        </div>
        {{/each}}
    </fieldset>
    {{/if}}
</section>
